@model PubliAX.Domain.DTO.FornecedorDto

@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";

    string titulo = "Dados do Fornecedor";
    bool registerForn = false;
    if (TempData["RegisterFornededor"] != null)
    {
        titulo = "Relacionamento de Fornedor ao Usuário";
        registerForn = true;
    }
}

<h2>@titulo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.CODIGO)

        <dt>
            <label>Nome: </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            <label>Tipo Pessoa:</label>
        </dt>

        <dd>
            @if (Model.FJ == 'F')
            {<span>Física</span>}
            else
            {<span>Jurídica</span>}
        </dd>

        <dt>
            @if (Model.FJ == 'F')
            {<label>CPF: </label>}
            else
            {<label>CNPJ: </label>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGC)
        </dd>

        <dt>
            @if (Model.FJ == 'F')
            {<label>RG: </label>}
            else
            {<label>Inscr. Municipal: </label>}
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IM)
        </dd>

        <dt>
            <label>Data de Cadastro</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTINCLUSAO)
        </dd>
    </dl>
    <p><h4>Dados de Endereço</h4></p>
    <p></p>
    <dl class="dl-horizontal">

        <dt>Endereço:</dt>
        <dd>@Html.DisplayFor(model => model.ENDERECO) </dd>

        <dt>Bairro:</dt>
        <dd>@Html.DisplayFor(model => model.BAIRRO) </dd>

        <dt>CEP:</dt>
        <dd>@Html.DisplayFor(model => model.CEP) </dd>

        <dt>Município:</dt>
        <dd>@Html.DisplayFor(model => model.MUNICIPIO) </dd>

        <dt>Estado:</dt>
        <dd>@Html.DisplayFor(model => model.ESTADO) </dd>
    </dl>

    <p><h4>Dados de Pagamento</h4></p>
    <p></p>
    <dl class="dl-horizontal">
        <dt>Banco:</dt>
        <dd>@Html.DisplayFor(model => model.XBANCO_PAG) </dd>

        <dt>Agencia:</dt>
        <dd>@Html.DisplayFor(model => model.XAGENC_PAG) </dd>

        <dt>Conta:</dt>
        <dd>@Html.DisplayFor(model => model.XCC_PAG) </dd>

        <dt>Tipo de Conta:</dt>
        <dd>
            @{
                string tipoConta = string.Empty;

                switch (Model.CC_TIPO.ToUpper())
                {
                    case "CO":
                        tipoConta = "Conta Corrente";
                        break;

                    case "C":
                        tipoConta = "Conta Corrente";
                        break;

                    case "CF":
                        tipoConta = "Conta Fácil (CEF)";
                        break;

                    default:
                        tipoConta = "Conta Poupança";
                        break;
                }
            }

            <span>@tipoConta</span>

        </dd>

        <dt>Favorecido:</dt>
        <dd>@Html.DisplayFor(model => model.NOME_PAG) </dd>
        
        <dt>CPF:</dt>
        <dd>@Html.DisplayFor(model => model.XCNPJ_PAG) </dd>
    </dl>

</div>
@if (registerForn)
{
    using (Html.BeginForm("detailPost", "Prov", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.CODIGO" />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Gravar" class="btn btn-primary btn-default" />
            </div>
        </div>
    }
}
<p>
    @Html.ActionLink("[ Voltar ]", "Index", "Home") |
    @if (!registerForn)
    {
        <a href="~/Prov/update?cod=@Model.CODIGO">[ Editar ]</a>
    }

</p>
