@model IEnumerable<PubliAX.Domain.DTO.PagamentoDto>

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h2>Pagamentos</h2>


<hr />
<table id="table-pagtos" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                <label>Documento</label>
            </th>
            <th>
                <label>Descrição</label>
            </th>
            <th>
                <label>Emissão</label>
            </th>
            <th>
                <label>Entrada</label>
            </th>
            <th>
                <label>Valor</label>
            </th>
            <th>
                <label>Vencimento</label>
                <p><small style="color:red">Compensação bancária de 72h</small></p>
            </th>
            <th>
                <label>Pagamento</label>
                <p><small>Caso este campo permancer em branco após a</small></p>
                <p><small>compensação bancária favor contatar a Winn.</small></p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var _entrada = item.ENTRADA == null ? string.Empty : ((DateTime)item.ENTRADA).ToShortDateString();
            var _dtPgto = item.DATAPAGTO == null ? string.Empty : ((DateTime)item.DATAPAGTO).ToShortDateString();
            <tr>
                <td>
                    @item.DOCUMENTO
                </td>
                <td>
                    @item.DESCRICAO
                </td>
                <td>
                    @item.EMISSAO.ToShortDateString()
                </td>
                <td>
                    @_entrada
                </td>
                <td>
                    @item.VALOR.ToString("N")
                </td>
                <td>
                    @item.VENCIMENTO.ToShortDateString()
                </td>
                <td>
                    @_dtPgto
                </td>

            </tr>
        }
    </tbody>
</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqDataTable")
    <script>
        $(document).ready(function () {
            $('#table-pagtos').DataTable();
        });
    </script>
}


