@model IEnumerable<PubliAX.Domain.DTO.NotificationDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h2>Notificações Recebidas</h2>

<p>
    <strong><a href="@Url.Action("Create")" class="btn btn-success">Enviar Notificação</a></strong>
</p>
<table id="table-notif" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                <label>Enviado por</label>
            </th>
            <th>
               <label>Assunto</label>
            </th>
            <th>
                <label>Mensagem</label>
            </th>
            <th>
               <label>Data de Recebimento</label>
            </th>
            <th>
                <label class="red">Ações</label>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.registerdate)
                </td>
                <td>
                    @if (item.status == PubliAX.Domain.Enum.entityStatus.enable)
                    {
                        <a class="red" href="@Url.Action("setReadedAction", new { id=item.notificationId  })"><i class="fa fa-envelope-open"> Não Lida</i></a>
                    }
                    else
                    {
                        <a class="red" href="@Url.Action("setNoReaded", new { id=item.notificationId  })"><i class="fa fa-envelope"> Lida</i></a>
                    } | 
                    <a class="red" href="@Url.Action("delete", new { id=item.notificationId  })"><i class="fa fa-trash-o"> Remover</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqDataTable")
    <script>
        $(document).ready(function () {
            $('#table-notif').DataTable();
        });
    </script>
}
