
@{
    ViewBag.Title = "Importation";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}


<h2>Importação de Pedidos de Produção</h2>

<hr />
<div class="form-horizontal">
    <div id="FormUpload" class="row">
        <form id="frmUpload">
            <div class="form-group">
                <label class="col-xs-3 col-md-2">Selecione o arquivo:</label>
                <div class="col-xs-6 col-md-6">
                    <input type="file" onchange="loadFile(event)" accept="text/plain" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-6">
                    <button id="btnUpload" type="submit" class="btn btn-primary">Carregar Arquivo</button>
                </div>
            </div>
        </form>
    </div>

    <div id="FormConfirImport" class="row hide">
        <h4>Amostra de Importação:</h4>
        <hr />
        <table id="table-amostraImport" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        <label>Pedido</label>
                    </th>
                    <th>
                        <label>Orçamento</label>
                    </th>
                    <th>
                        <label>Lançamento</label>
                    </th>
                    <th>
                        <label>Fornecedor</label>
                    </th>
                    <th>
                        <label>Valor</label>
                    </th>
                    <th>
                        <label>Vencimento</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span id="CF_PEDIDO"></span>
                    </td>
                    <td>
                        <span id="CF_ORCAMENTO"></span>
                    </td>
                    <td>
                        <span id="CF_LANCAMENTO"></span>
                    </td>
                    <td>
                        <span id="CF_FORNECEDOR"></span>
                    </td>
                    <td>
                        <span id="CF_VALOR"></span>
                    </td>
                    <td>
                        <span id="CF_VENCIMENTO"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <button id="btnUpload" type="button" onclick="confirmImport()" class="btn btn-danger">Confirma a Importação</button>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("Importation", "Order")" class="btn btn-primary">Cancelar Operação</a>
            </div>
        </div>
    </div>

    <div id="FormResultImport" class="hide">
        <h4>Resultado da Importação:</h4>
        <hr />
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Resumo">Resumo</a></li>
                <li><a data-toggle="tab" href="#Detalhes">Detalhes</a></li>
            </ul>
            <div class="tab-content">
                <div id="Resumo" class="tab-pane fade in active">
                    <hr />
                    <div>
                        <div class="form-group">
                            <label class="col-xs-3 col-md-2">Quantidade de Registros Carregados pelo arquivo:</label>
                            <div class="col-xs-6 col-md-6">
                                <span id="Total"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 col-md-2">Registros Importados com sucesso:</label>
                            <div class="col-xs-6 col-md-6">
                                <span id="RSucesso"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 col-md-2">Registro que Falharam na importação:</label>
                            <div class="col-xs-6 col-md-6">
                                <span id="RFalha"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Detalhes" class="tab-pane fade">
                    <hr />
                    <div>
                        <table id="table-resultImport" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Concluir Operação</a>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    @Scripts.Render("~/bundles/jqDataTable")
    <script>
        let files = null;
        let loadFile = function (event) {
            files = event.target.files[0];
        };

        let confirmImport = function () {
            $("#overlay").show();

            setTimeout(function () {
                $.ajax({
                url: "ConfirmImport",
                method: "POST",
                async: false,
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if (data.success) {
                        $("#FormConfirImport").hide();
                        $("#Total").text(data.data.resume.Tot);
                        $("#RSucesso").text(data.data.resume.Ok);
                        $("#RFalha").text(data.data.resume.Fail);
                        $('#table-resultImport').DataTable({
                            language: {
                                infoPostFix: "",
                                infoThousands: ".",
                                zeroRecords: "Nenhum registro encontrado",
                                emptyTable: "Nenhum registro encontrado"
                            },
                            data: data.data.detail,
                            columns: [
                                { data: 'linenumber', title: "Registro" },
                                { data: 'ORCAMENTO', title: "Orçamento" },
                                { data: 'LANCAMENTO', title: "Lançamento" },
                                { data: 'COD_FORNEC', title: "Fornecedor" },
                                { data: 'VALOR', title: "Valor" },
                                { data: 'VENCIMENTO', title: "Vencimento" },
                                { data: 'description', title: "Erro" },
                                { data: 'status', title: "Status" }

                                //{ data: 'number', title: "Ações", render: (data) => { return `<button class="btn btn-primary btn-xs" data-id=${data} data-bind="click: showDetails">Detalhes</button>` }, "orderable": false, }
                            ]
                        });
                        $("#FormResultImport").removeClass("hide");
                    }
                    else {
                        alert("Erro: " + data.message);
                        window.location.href = '@Url.Action("Importation", "Order")';
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseJSON.InnerException.Message);
                    window.location.href = '@Url.Action("Importation", "Order")';
                },
                complete: function () {
                    $("#overlay").hide();
                }
            });
            }, 1500);
        };

        $('#frmUpload').submit(function (e) {
            e.preventDefault();
            let formData = new FormData();
            formData.append("file", files);
            $.ajax({
                url: "FileUpload",
                method: "POST",
                data: formData,
                async: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.success) {
                        $("#FormUpload").hide();
                        $("#CF_PEDIDO").text(data.data.PEDIDO);
                        $("#CF_ORCAMENTO").text(data.data.ORCAMENTO);
                        $("#CF_LANCAMENTO").text(data.data.LANCAMENTO);
                        $("#CF_FORNECEDOR").text(data.data.FORNECEDOR);
                        $("#CF_VALOR").text(data.data.VALOR);
                        $("#CF_VENCIMENTO").text(data.data.VENCIMENTO);
                        $('#table-amostraImport').DataTable();
                        $("#FormConfirImport").removeClass("hide");
                    }
                    else
                        alert("Erro: " + data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseJSON.InnerException.Message);
                }
            });
        });
    </script>
}