<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PubliAX</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body style="background-color:#2A3F54">

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="pull-right">
            @{
                var _version = ViewContext.Controller.GetType().Assembly.GetName().Version;
            }
            &copy; @DateTime.Now.Year - by <a href="http://www.solucoesgerenciais.com.br/" target="_blank">Soluções Gerenciais</a> - V@_version
        </div>
        <div class="clearfix"></div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask");
    @Scripts.Render("~/bundles/KnockoutJs")
    <script type="text/javascript" src="~/Scripts/lib/masks.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
