@model PubliAX.Web.Models.Home.ChangePasswordViewModel

@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h2>Alteração de Senha</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.oldpassword, "Senha Atual",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.oldpassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe a Senha Atual" } })
                @Html.ValidationMessageFor(model => model.oldpassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password,"Nova Senha", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe a Nova Senha" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirm, "Confirmação",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe a Confirmação" } })
                @Html.ValidationMessageFor(model => model.confirm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("[Voltar]", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
