@model PubliAX.Web.Models.Home.CheckEmailViewModel

@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h2>Checagem de Email</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, "Código:",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "código de validação recebido por email." } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Validar" class="btn btn-primary btn-default" />
            </div>
            <div class="col-md-2">
                <a href="~/Home/CheckEmail"  class="btn btn-warning">Reenviar Código</a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("[ Voltar ]", "Index")
</div>
