@model PubliAX.Domain.DTO.UserDto

@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
    var _avatar = "~/Libs/Img/user.png";
    if (!string.IsNullOrEmpty(Model.avatar))
    {
        _avatar = Model.avatar;
    }

}

<h2>Perfil do Usuário</h2>

<div>
    <hr />
    <table>
        <tr>
            <td class="col-xs-1 text-center">
                <div class="form-group">
                    <img style="width:200px;" src="@VirtualPathUtility.ToAbsolute(_avatar)" />
                    <p><strong><a href="@Url.Action("changeAvatar")">[ Alterar Imagem ]</a></strong></p>
                </div>
            </td>
            <td class="col-xs-6">
                <dl class="dl-horizontal">
                    <dt>
                        <strong>Login: </strong>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.login)
                    </dd>

                    <dt>
                        <strong>Nome: </strong>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        <strong>Tipo Pessoa: </strong>
                    </dt>

                    <dd>
                        @if (Model.type == PubliAX.Domain.Enum.personType.business)
                        {
                            <span>Jurídica</span>
                        }
                        else
                        {
                            <span>Física</span>
                        }
                    </dd>

                    <dt>
                        @if (Model.type == PubliAX.Domain.Enum.personType.business)
                        {
                            <strong>CNPJ: </strong>
                        }
                        else
                        {
                            <strong>CPF: </strong>
                        }
                    </dt>

                    <dd>
                        @if (Model.type == PubliAX.Domain.Enum.personType.business)
                        {
                            if (!string.IsNullOrEmpty(Model.cnpfj))
                            {
                                string _cnpj = $"{Model.cnpfj.Substring(0, 2)}.{Model.cnpfj.Substring(2, 3)}.{Model.cnpfj.Substring(5, 3)}/{Model.cnpfj.Substring(8, 4)}-{Model.cnpfj.Substring(12)}";
                                <span>@_cnpj</span>
                            }
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(Model.cnpfj))
                            {
                                string _cpf = $"{Model.cnpfj.Substring(0, 3)}.{Model.cnpfj.Substring(3, 3)}.{Model.cnpfj.Substring(6, 3)}-{Model.cnpfj.Substring(9)}";
                                <span>@_cpf</span>
                            }
                        }
                    </dd>

                    <dt>
                        <strong>Celular: </strong>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.celphone)
                    </dd>

                    <dt>
                        <strong>Email: </strong>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        <p>
                            @Html.ActionLink("[ Editar ]", "profileEdit") |
                            @Html.ActionLink("[ Voltar ]", "Index")
                        </p>
                    </dt>

                    <dd>

                    </dd>
                </dl>
            </td>
        </tr>
    </table>
</div>

