@model PubliAX.Web.Models.SignupViewModel

@{
    ViewBag.Title = "signup";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}



<div id="FormSignup" class="container">
    <div class="col-xs-12 col-lg-2"></div>
    <div class="col-xs-12 col-lg-8">
        <div class="jumbotron" style="margin-top:50px; border:0.5px solid #000000;">
            <div class="text-center" style="margin-bottom:30px;">
                <h2>Cadastro</h2>
            </div>

            @using (Html.BeginForm("signup", "Profile", FormMethod.Post,  new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div>
                        @Html.HiddenFor(model => model.provider)
                        @Html.HiddenFor(model => model.providerKey)
                    </div>

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-3">Nome</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "nome completo" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Login</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control", placeholder = "login" } })
                            @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.typePerson, "Tipo Pessoa:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input class="myRadio" type="radio" value="F" name="typePerson" id="optF" checked />@Html.Label("Física")
                            <input class="myRadio" type="radio" value="J" name="typePerson" id="optJ" />@Html.Label("Jurídica")
                            @Html.ValidationMessageFor(model => model.typePerson, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" data-bind="text: labelCgc() + ': '"></label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.cgc, new { htmlAttributes = new { @id = "edCgc", @class = "form-control cpf", placeholder = "CPF"} })
                            @Html.ValidationMessageFor(model => model.cgc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">E-mail</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "e-mail" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Celular</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.celphone, new { htmlAttributes = new { @class = "form-control celphone", placeholder = "celular" } })
                            @Html.ValidationMessageFor(model => model.celphone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Senha</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "senha" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Confirmação</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.confirm, new { htmlAttributes = new { @class = "form-control", placeholder = "confirmação de senha" } })
                            @Html.ValidationMessageFor(model => model.confirm, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="termos-condicoes">
                            <div class="form-group">
                                <textarea id="comment">@ViewBag.Term</textarea>
                                <div class="downOfTextarea">
                                    <p class="newCommentTip">
                                        <div class="input-position">
                                            @Html.CheckBoxFor(model => model.termAccept)
                                        </div>
                                        <label>Li e concordo com os Termos e Condições de uso</label>
                                        <div class="row text-center">
                                            @Html.ValidationMessageFor(model => model.termAccept, "", new { @class = "text-danger" })
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group" style="margin-top:30px">
                        <div class="col-md-offset-3 col-md-6">
                            <button type="submit" class="btn btn-primary form-control">Criar</button>
                        </div>
                    </div>
                </div>
            }

            <div class="text-center">
                @Html.ActionLink("[ Voltar ]", "signin")
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-lg-2"></div>
    <div class="col-xs-12 col-lg-1"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        var ViewModel = function () {
            var self = this;

            self.labelCgc = ko.observable("CPF");

            self.eventRbTipo = function () {
                if ($("#optF").is(":checked")) {
                    self.labelCgc("CPF");
                }
                else {
                    self.labelCgc("CNPJ");
                }
            };
        }

        var VO = new ViewModel();
        ko.applyBindings(VO, document.getElementById("FormSignup"));

        $(function () {
            $(".myRadio")
                .change(function () {
                    if ($(this).is(':checked')){
                        if ($(this).val() == "F") {
                            $("#edCgc")
                                .removeClass("cnpj")
                                .addClass("cpf")
                                .attr("placeholder", "CPF")
                                .inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                        }
                        else if ($(this).val() == "J"){
                            $("#edCgc")
                                .removeClass("cpf")
                                .addClass("cnpj")
                                .attr("placeholder", "CNPJ")
                                .inputmask("mask", { "mask": "99.999.999/9999-99" }, { reverse: true });
                        }

                        VO.eventRbTipo();
                    }
                });
        });
    </script>
}


